svg {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 100px;
  margin: 2em auto;
}

.slideshow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: auto;
  margin: 0;
  transform: translateY(-15%);
  opacity: 0;
  transition: 700ms transform cubic-bezier(0.55, 0.055, 0.675, 0.19), 700ms opacity cubic-bezier(0.55, 0.055, 0.675, 0.19) 300ms;
}

.inview {
  transform: translateY(0);
  opacity: 1;
  z-index: 0;
}

.hiddenslides {
  z-index: 0;
}

.open {
  z-index: 999;
  position: absolute;
  width: 100%;
  left: 0;
  top: 10;
}

.arrow-right, .arrow-left {
  cursor: pointer;
  padding:0;
  position: relative;
}

.faded-right, .faded-left {
  opacity: 0.4;
}

.imageContainer {
  position: relative;
  display: flex;
  max-width: 180px;
  max-height: 120px;
  min-height: 120px;
  margin: 1em 0.15em;
  background-color: #222222;
}

.albumimage {
  object-fit: contain;
  padding:0.2em 0;
  width: 100%;
}

@keyframes zoom {
  0% {
  }
  100% {
    transform: scale(1.1920);
    z-index: 2;
  }
}

.zoomed {
  animation: zoom 0.5s forwards;
}

@keyframes open {
  0% {
    position: absolute;
    z-index: 999;
  }
  100% {
    position: absolute;
    max-width: 80vw;
    max-height: 90vh;
    border-radius: 0;
    z-index: 1000;
    margin: auto;
    opacity: 1;
  }
}

.opened {
  animation: open 0.8s forwards;
}

.expandicon {
  position: absolute;
  top: 10%;
  right: 8%;
  cursor: pointer;
  z-index: 1;
}

.closeicon {
  position: absolute;
  top: 8%;
  right: 8%;
  cursor: pointer;
  z-index: 1;
}

@media screen and (max-width: 900px) {
  .arrow-right, .arrow-left {
    margin-left: 1em;
    margin-right: 1em;
  }

  .slideshow {
    transform: translateY(0%);
  }
}

@media screen and (max-width: 380px) {
  .arrow-left {
    margin-left: 0;
    margin-right: 0.5em;
  }

  .arrow-right {
    margin-right: 0;
    margin-left: 0.5em;
  }

  @keyframes zoom {
    0% {
    }
    100% {
      transform: scale(1.1120);
      z-index: 1;
    }
  }
}
