.navbar {
  margin-bottom: 0;
  height: auto;
  padding: 0.5em;
  border-radius: 0px;
  color: rgb(157, 157, 157);
}

.container-fluid {
  padding-right: 0;
}

.navbar-brand {
  font-size: 1.5em;
}

.navbar-right {
  font-size: 1em;
}

.navbar-right > li > a {
  padding: 1.3em 0.3em;
}

.userinfo {
  margin: 0 0.5em;
}

.userinfo > h4 {
  font-size: 1em;
}

.googleButton {
  color: #222222;
  background-color: #B38481;
  border-color: #cf6f55;
  border-radius: 3px;
  margin: 1.1em 0.5em;
}

.googleButton:hover, .googleButton:focus, .googleButton:active, .googleButton:visited, .googleButton:active:focus {
  background-color: #cf6f55;
  border-color: #c06046;
}


@media screen and (max-width: 450px) {
  .navbar {
    padding: 0.2em 0 0.2em 0.2em;
  }

  .navbar-brand {
    font-size: 1.3em;
    padding-right: 0;
    padding-left: 0.2em;
  }

  .navbar-right {
    font-size: 1.1em;
  }

  .navbar-right > li > a {
    padding: 0.5em;
  }

  .userinfo > h4 {
    font-size: 0.8em;
  }
}
